<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SachEditDlg" widgetVar="SachEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSachTitle}">
            <h:form id="SachEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sachController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSachLabel_masach}" for="masach" />
                        <p:inputText id="masach" value="#{sachController.selected.masach}" title="#{bundle.EditSachTitle_masach}" required="true" requiredMessage="#{bundle.EditSachRequiredMessage_masach}"/>
                        <p:outputLabel value="#{bundle.EditSachLabel_tensach}" for="tensach" />
                        <p:inputText id="tensach" value="#{sachController.selected.tensach}" title="#{bundle.EditSachTitle_tensach}" required="true" requiredMessage="#{bundle.EditSachRequiredMessage_tensach}"/>
                        <p:outputLabel value="#{bundle.EditSachLabel_tomtat}" for="tomtat" />
                        <p:inputText id="tomtat" value="#{sachController.selected.tomtat}" title="#{bundle.EditSachTitle_tomtat}" required="true" requiredMessage="#{bundle.EditSachRequiredMessage_tomtat}"/>
                        <p:outputLabel value="#{bundle.EditSachLabel_maloai}" for="maloai" />
                        <p:selectOneMenu id="maloai" value="#{sachController.selected.maloai}" required="true" requiredMessage="#{bundle.EditSachRequiredMessage_maloai}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{loaisachController.itemsAvailableSelectOne}"
                                           var="maloaiItem"
                                           itemValue="#{maloaiItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditSachLabel_manxb}" for="manxb" />
                        <p:selectOneMenu id="manxb" value="#{sachController.selected.manxb}" required="true" requiredMessage="#{bundle.EditSachRequiredMessage_manxb}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{nhaxbController.itemsAvailableSelectOne}"
                                           var="manxbItem"
                                           itemValue="#{manxbItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditSachLabel_matg}" for="matg" />
                        <p:selectOneMenu id="matg" value="#{sachController.selected.matg}" required="true" requiredMessage="#{bundle.EditSachRequiredMessage_matg}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tacgiaController.itemsAvailableSelectOne}"
                                           var="matgItem"
                                           itemValue="#{matgItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sachController.update}" value="#{bundle.Save}" update="display,:SachListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SachEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SachEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
