<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListSachTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="SachListForm">
                <p:panel header="#{bundle.ListSachTitle}">
                    <p:dataTable id="datalist" value="#{sachController.items}" var="item"
                                 selectionMode="single" selection="#{sachController.selected}"
                                 paginator="true"
                                 rowKey="#{item.masach}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSachTitle_masach}"/>
                            </f:facet>
                            <h:outputText value="#{item.masach}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSachTitle_tensach}"/>
                            </f:facet>
                            <h:outputText value="#{item.tensach}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSachTitle_tomtat}"/>
                            </f:facet>
                            <h:outputText value="#{item.tomtat}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSachTitle_maloai}"/>
                            </f:facet>
                            <h:outputText value="#{item.maloai}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSachTitle_manxb}"/>
                            </f:facet>
                            <h:outputText value="#{item.manxb}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSachTitle_matg}"/>
                            </f:facet>
                            <h:outputText value="#{item.matg}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{sachController.prepareCreate}" update=":SachCreateForm" oncomplete="PF('SachCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":SachViewForm" oncomplete="PF('SachViewDialog').show()" disabled="#{empty sachController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":SachEditForm" oncomplete="PF('SachEditDialog').show()" disabled="#{empty sachController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{sachController.destroy}" update=":growl,datalist" disabled="#{empty sachController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
