<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SachViewDlg" widgetVar="SachViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSachTitle}">
            <h:form id="SachViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sachController.selected != null}">
                        <h:outputText value="#{bundle.ViewSachLabel_masach}"/>
                        <h:outputText value="#{sachController.selected.masach}" title="#{bundle.ViewSachTitle_masach}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_tensach}"/>
                        <h:outputText value="#{sachController.selected.tensach}" title="#{bundle.ViewSachTitle_tensach}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_tomtat}"/>
                        <h:outputText value="#{sachController.selected.tomtat}" title="#{bundle.ViewSachTitle_tomtat}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_maloai}"/>
                        <h:outputText value="#{sachController.selected.maloai}" title="#{bundle.ViewSachTitle_maloai}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_manxb}"/>
                        <h:outputText value="#{sachController.selected.manxb}" title="#{bundle.ViewSachTitle_manxb}"/>
                        <h:outputText value="#{bundle.ViewSachLabel_matg}"/>
                        <h:outputText value="#{sachController.selected.matg}" title="#{bundle.ViewSachTitle_matg}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SachViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
