<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NhaxbCreateDlg" widgetVar="NhaxbCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateNhaxbTitle}">
            <h:form id="NhaxbCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{nhaxbController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateNhaxbLabel_manxb}" for="manxb" />
                        <p:inputText id="manxb" value="#{nhaxbController.selected.manxb}" title="#{bundle.CreateNhaxbTitle_manxb}" required="true" requiredMessage="#{bundle.CreateNhaxbRequiredMessage_manxb}"/>
                        <p:outputLabel value="#{bundle.CreateNhaxbLabel_tennxb}" for="tennxb" />
                        <p:inputText id="tennxb" value="#{nhaxbController.selected.tennxb}" title="#{bundle.CreateNhaxbTitle_tennxb}" required="true" requiredMessage="#{bundle.CreateNhaxbRequiredMessage_tennxb}"/>
                        <p:outputLabel value="#{bundle.CreateNhaxbLabel_diachi}" for="diachi" />
                        <p:inputText id="diachi" value="#{nhaxbController.selected.diachi}" title="#{bundle.CreateNhaxbTitle_diachi}" required="true" requiredMessage="#{bundle.CreateNhaxbRequiredMessage_diachi}"/>
                        <p:outputLabel value="#{bundle.CreateNhaxbLabel_sdt}" for="sdt" />
                        <p:inputText id="sdt" value="#{nhaxbController.selected.sdt}" title="#{bundle.CreateNhaxbTitle_sdt}" required="true" requiredMessage="#{bundle.CreateNhaxbRequiredMessage_sdt}"/>
                        <p:outputLabel value="#{bundle.CreateNhaxbLabel_email}" for="email" />
                        <p:inputText id="email" value="#{nhaxbController.selected.email}" title="#{bundle.CreateNhaxbTitle_email}" required="true" requiredMessage="#{bundle.CreateNhaxbRequiredMessage_email}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{nhaxbController.create}" value="#{bundle.Save}" update="display,:NhaxbListForm:datalist,:growl" oncomplete="handleSubmit(args,'NhaxbCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="NhaxbCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
