<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NhaxbEditDlg" widgetVar="NhaxbEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditNhaxbTitle}">
            <h:form id="NhaxbEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{nhaxbController.selected != null}">
                        <p:outputLabel value="#{bundle.EditNhaxbLabel_manxb}" for="manxb" />
                        <p:inputText id="manxb" value="#{nhaxbController.selected.manxb}" title="#{bundle.EditNhaxbTitle_manxb}" required="true" requiredMessage="#{bundle.EditNhaxbRequiredMessage_manxb}"/>
                        <p:outputLabel value="#{bundle.EditNhaxbLabel_tennxb}" for="tennxb" />
                        <p:inputText id="tennxb" value="#{nhaxbController.selected.tennxb}" title="#{bundle.EditNhaxbTitle_tennxb}" required="true" requiredMessage="#{bundle.EditNhaxbRequiredMessage_tennxb}"/>
                        <p:outputLabel value="#{bundle.EditNhaxbLabel_diachi}" for="diachi" />
                        <p:inputText id="diachi" value="#{nhaxbController.selected.diachi}" title="#{bundle.EditNhaxbTitle_diachi}" required="true" requiredMessage="#{bundle.EditNhaxbRequiredMessage_diachi}"/>
                        <p:outputLabel value="#{bundle.EditNhaxbLabel_sdt}" for="sdt" />
                        <p:inputText id="sdt" value="#{nhaxbController.selected.sdt}" title="#{bundle.EditNhaxbTitle_sdt}" required="true" requiredMessage="#{bundle.EditNhaxbRequiredMessage_sdt}"/>
                        <p:outputLabel value="#{bundle.EditNhaxbLabel_email}" for="email" />
                        <p:inputText id="email" value="#{nhaxbController.selected.email}" title="#{bundle.EditNhaxbTitle_email}" required="true" requiredMessage="#{bundle.EditNhaxbRequiredMessage_email}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{nhaxbController.update}" value="#{bundle.Save}" update="display,:NhaxbListForm:datalist,:growl" oncomplete="handleSubmit(args, 'NhaxbEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="NhaxbEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
