<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListNhaxbTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="NhaxbListForm">
                <p:panel header="#{bundle.ListNhaxbTitle}">
                    <p:dataTable id="datalist" value="#{nhaxbController.items}" var="item"
                                 selectionMode="single" selection="#{nhaxbController.selected}"
                                 paginator="true"
                                 rowKey="#{item.manxb}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNhaxbTitle_manxb}"/>
                            </f:facet>
                            <h:outputText value="#{item.manxb}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNhaxbTitle_tennxb}"/>
                            </f:facet>
                            <h:outputText value="#{item.tennxb}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNhaxbTitle_diachi}"/>
                            </f:facet>
                            <h:outputText value="#{item.diachi}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNhaxbTitle_sdt}"/>
                            </f:facet>
                            <h:outputText value="#{item.sdt}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNhaxbTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{nhaxbController.prepareCreate}" update=":NhaxbCreateForm" oncomplete="PF('NhaxbCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":NhaxbViewForm" oncomplete="PF('NhaxbViewDialog').show()" disabled="#{empty nhaxbController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":NhaxbEditForm" oncomplete="PF('NhaxbEditDialog').show()" disabled="#{empty nhaxbController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{nhaxbController.destroy}" update=":growl,datalist" disabled="#{empty nhaxbController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
