<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NhaxbViewDlg" widgetVar="NhaxbViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewNhaxbTitle}">
            <h:form id="NhaxbViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{nhaxbController.selected != null}">
                        <h:outputText value="#{bundle.ViewNhaxbLabel_manxb}"/>
                        <h:outputText value="#{nhaxbController.selected.manxb}" title="#{bundle.ViewNhaxbTitle_manxb}"/>
                        <h:outputText value="#{bundle.ViewNhaxbLabel_tennxb}"/>
                        <h:outputText value="#{nhaxbController.selected.tennxb}" title="#{bundle.ViewNhaxbTitle_tennxb}"/>
                        <h:outputText value="#{bundle.ViewNhaxbLabel_diachi}"/>
                        <h:outputText value="#{nhaxbController.selected.diachi}" title="#{bundle.ViewNhaxbTitle_diachi}"/>
                        <h:outputText value="#{bundle.ViewNhaxbLabel_sdt}"/>
                        <h:outputText value="#{nhaxbController.selected.sdt}" title="#{bundle.ViewNhaxbTitle_sdt}"/>
                        <h:outputText value="#{bundle.ViewNhaxbLabel_email}"/>
                        <h:outputText value="#{nhaxbController.selected.email}" title="#{bundle.ViewNhaxbTitle_email}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="NhaxbViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
