<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/loaisach/List" value="Show All Loaisach Items"/>
        <br />
        <h:link outcome="/nhaxb/List" value="Show All Nhaxb Items"/>
        <br />
        <h:link outcome="/sach/List" value="Show All Sach Items"/>
        <br />
        <h:link outcome="/tacgia/List" value="Show All Tacgia Items"/>
    </h:body>




</html>

