<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoaisachCreateDlg" widgetVar="LoaisachCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLoaisachTitle}">
            <h:form id="LoaisachCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loaisachController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLoaisachLabel_maloai}" for="maloai" />
                        <p:inputText id="maloai" value="#{loaisachController.selected.maloai}" title="#{bundle.CreateLoaisachTitle_maloai}" required="true" requiredMessage="#{bundle.CreateLoaisachRequiredMessage_maloai}"/>
                        <p:outputLabel value="#{bundle.CreateLoaisachLabel_tenloai}" for="tenloai" />
                        <p:inputText id="tenloai" value="#{loaisachController.selected.tenloai}" title="#{bundle.CreateLoaisachTitle_tenloai}" required="true" requiredMessage="#{bundle.CreateLoaisachRequiredMessage_tenloai}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{loaisachController.create}" value="#{bundle.Save}" update="display,:LoaisachListForm:datalist,:growl" oncomplete="handleSubmit(args,'LoaisachCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoaisachCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
