<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoaisachViewDlg" widgetVar="LoaisachViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLoaisachTitle}">
            <h:form id="LoaisachViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loaisachController.selected != null}">
                        <h:outputText value="#{bundle.ViewLoaisachLabel_maloai}"/>
                        <h:outputText value="#{loaisachController.selected.maloai}" title="#{bundle.ViewLoaisachTitle_maloai}"/>
                        <h:outputText value="#{bundle.ViewLoaisachLabel_tenloai}"/>
                        <h:outputText value="#{loaisachController.selected.tenloai}" title="#{bundle.ViewLoaisachTitle_tenloai}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LoaisachViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
